<script type="text/template" id="todo_item">
  <div class="lines"></div>
  <span>
    <i id="todo-checkbox" style="text-indent: -10px" title="Check Todo" class="icon-check{%todo.status == <%= Todo::PENDING %> ?'-empty' : '' %}"></i>
    <span id="todo-display-edit" class="{% todo.status == <%= Todo::DONE %> ? 'checked' : '' %}">
      {%todo.item%}
    </span>
    <span id="todo-editable" style="display:none" >
      <input class="todo-item-input" id="edit-todo-value" value="{%todo.item%}" type="text">
      <i title="Cancel Edit" class="icon-remove"></i>
    </span>
  </span>
  <span class="pull-right">
    <i id="edit-todo" title="Edit Todo" class="icon-edit"></i>
    <i id="remove-todo" title="Remove Todo" class="icon-trash"></i>
  </span>
</script>